<span breadcrumb='standard'></span>


      
<div class="container">
    <!-- Nav tabs -->
<div class="row">
                <div class="col-md-4" align="left"> 
                    <input type="text" id="congressionaltitle" class="form-control" placeholder="Add Title" ng-model="congressionaltitle" required autofocus><br>
                    <input type="text" id="congressionalID" class="form-control" placeholder="Add ID" ng-model="congressionalID" required><br>
                    <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose a Sponsor  
                      <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="">Nancy Pelosi</a></li>
                        <li><a href="">Newt Gingrich</a></li>
                        <li><a href="">John Smith</a></li>
                      </ul>
                    </div>
                    <br>
                    <input type="text" id="dateintroduced" class="form-control" placeholder="Date Introduced" ng-model="dateintroduced" required><br>
                    <input type="text" id="datepassed" class="form-control" placeholder="Date Passed" ng-model="datepassed" required><br>
                    <span class="btn btn-default btn-file">
                        Browse for Bill Document<br> <input type="file">
                    </span>
                    <br><br>
                    <button class="btn btn-lg btn-primary btn-block">Add Bill</button>
                    <hr>
                </div>
            </div><br>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" ng-class="{active: checkTab('initial')}">
        <a href="#initial" aria-controls="initial" role="tab" data-toggle="tab">Initial</a>
    </li>
    <li role="presentation" ng-class="{active: checkTab('1')}">
        <a href="#1" aria-controls="1" role="tab" data-toggle="tab">1st Review</a>
    </li>
    <li role="presentation" ng-class="{active: checkTab('2')}">
        <a href="#2" aria-controls="2" role="tab" data-toggle="tab">2nd Review</a>
    </li>
    <li role="presentation" ng-class="{active: checkTab('3')}">
        <a href="#3" aria-controls="3" role="tab" data-toggle="tab">3rd Review</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade" ng-class="{'in active': checkTab('initial')}" id="initial">
            <div class="row">
                <div class="col-md-14" align="left"> 
                    <h4>Initial Bills</h4>
                </div>
                <div class="col-md-10" align="left"> 
                    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Sponsor</th>
                <th>Date Passed</th>
                <th>Bill</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
                        
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>

            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td colspan="8"><hr></td>
            </tr>
            <tr>
                <td>S. 272</td>
                <td>DOHS Appropriations Act (2015)</td>
                <td>Jeanne Shaheen</td>
                <td>Jan 28, 2015</td>
                <td><a href="#">View</a></td>
                <td><div align="center"><a href="#editModal"  data-toggle="modal"><i class="fa fa-pencil-square fa-lg"></i></a></div></td>
                <td><div align="center"><a href="#deleteModal" data-toggle="modal"><i class="fa fa-minus-square fa-lg"></i></a></div></td>
                <td><div align="center"><a href="#catModal" data-toggle="modal"><i class="fa fa-check fa-lg"></i></a></div></td>
            </tr>
            <tr>
                <td colspan="7"><hr></td>
            </tr>
            <tr>
                <td>H.R. 2</td>
                <td>MEDICARE access and CHIP Reauth</td>
                <td>Michael Burgess</td>
                <td>Apr 16, 2015</td>
                <td><a href="#">View</a></td>
                <td><div align="center"><a href="#editModal"  data-toggle="modal"><i class="fa fa-pencil-square fa-lg"></i></a></div></td>
                <td><div align="center"><a href="#deleteModal" data-toggle="modal"><i class="fa fa-minus-square fa-lg"></i></a></div></td>
                <td><div align="center"><a href="#catModal" data-toggle="modal"><i class="fa fa-check fa-lg"></i></a></div></td>
            </tr>
            <tr>
                <td colspan="8"><hr></td>
            </tr>
            <tr>
                <td>H.R. 648</td>
                <td>Emergency Care ReAuth Act</td>
                <td>Michael Burgess</td>
                <td>Jan 28, 2015</td>
                <td><a href="#">View</a></td>
                <td><div align="center"><a href="#editModal"  data-toggle="modal"><i class="fa fa-pencil-square fa-lg"></i></a></div></td>
                <td><div align="center"><a href="#deleteModal" data-toggle="modal"><i class="fa fa-minus-square fa-lg"></i></a></div></td>
                <td><div align="center"><a href="#catModal" data-toggle="modal"><i class="fa fa-check fa-lg"></i></a></div></td>
            </tr>
            <tr>
                <td colspan="8"><hr></td>
            </tr>
        </tbody>
    </table>
                </div>
                <div class="col-md-14" align="left"> 
                    
                </div>
       </div>
    </div>
      
      
    
    <div role="tabpanel" class="tab-pane fade" ng-class="{'in active': checkTab('1')}" id="1">
            <div class="row">
                <div class="col-md-14" align="left"> 
                    <h4>1st Review</h4>
                </div>
                <div class="col-md-10" align="left"> 
                    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Sponsor</th>
                <th>Date Passed</th>
                <th>Bill</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
                        
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>

            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td colspan="8"><hr></td>
            </tr>
            <tr>
                <td>S. 272</td>
                <td>DOHS Appropriations Act (2015)</td>
                <td>Jeanne Shaheen</td>
                <td>Jan 28, 2015</td>
                <td><a href="#">View</a></td>
                <td><div align="center"><a href="#editModal"  data-toggle="modal"><i class="fa fa-pencil-square fa-lg"></i></a></div></td>
                <td><div align="center"><a href="#deleteModal" data-toggle="modal"><i class="fa fa-minus-square fa-lg"></i></a></div></td>
                <td><div align="center"><a href="#catModal" data-toggle="modal"><i class="fa fa-check fa-lg"></i></a></div></td>
            </tr>
            <tr>
                <td colspan="7"><hr></td>
            </tr>
            <tr>
                <td>H.R. 2</td>
                <td>MEDICARE access and CHIP Reauth</td>
                <td>Michael Burgess</td>
                <td>Apr 16, 2015</td>
                <td><a href="#">View</a></td>
                <td><div align="center"><a href="#editModal"  data-toggle="modal"><i class="fa fa-pencil-square fa-lg"></i></a></div></td>
                <td><div align="center"><a href="#deleteModal" data-toggle="modal"><i class="fa fa-minus-square fa-lg"></i></a></div></td>
                <td><div align="center"><a href="#catModal" data-toggle="modal"><i class="fa fa-check fa-lg"></i></a></div></td>
            </tr>
            <tr>
                <td colspan="8"><hr></td>
            </tr>
            <tr>
                <td>H.R. 648</td>
                <td>Emergency Care ReAuth Act</td>
                <td>Michael Burgess</td>
                <td>Jan 28, 2015</td>
                <td><a href="#">View</a></td>
                <td><div align="center"><a href="#editModal"  data-toggle="modal"><i class="fa fa-pencil-square fa-lg"></i></a></div></td>
                <td><div align="center"><a href="#deleteModal" data-toggle="modal"><i class="fa fa-minus-square fa-lg"></i></a></div></td>
                <td><div align="center"><a href="#catModal" data-toggle="modal"><i class="fa fa-check fa-lg"></i></a></div></td>
            </tr>
            <tr>
                <td colspan="8"><hr></td>
            </tr>
        </tbody>
    </table>
                </div>
                <div class="col-md-14" align="left"> 
                    
                </div>
       </div>
    </div>
      
      
      
    <div role="tabpanel" class="tab-pane fade" ng-class="{'in active': checkTab('2')}" id="2">
            <div class="row">
                <div class="col-md-14" align="left"> 
                    <h4>2nd Review</h4>
                </div>
                <div class="col-md-10" align="left"> 
                    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Sponsor</th>
                <th>Date Passed</th>
                <th>Bill</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
                        
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>

            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td colspan="8"><hr></td>
            </tr>
            <tr>
                <td>S. 272</td>
                <td>DOHS Appropriations Act (2015)</td>
                <td>Jeanne Shaheen</td>
                <td>Jan 28, 2015</td>
                <td><a href="#">View</a></td>
                <td><div align="center"><a href="#editModal"  data-toggle="modal"><i class="fa fa-pencil-square fa-lg"></i></a></div></td>
                <td><div align="center"><a href="#deleteModal" data-toggle="modal"><i class="fa fa-minus-square fa-lg"></i></a></div></td>
                <td><div align="center"><a href="#catModal" data-toggle="modal"><i class="fa fa-check fa-lg"></i></a></div></td>
            </tr>
            <tr>
                <td colspan="7"><hr></td>
            </tr>
            <tr>
                <td>H.R. 2</td>
                <td>MEDICARE access and CHIP Reauth</td>
                <td>Michael Burgess</td>
                <td>Apr 16, 2015</td>
                <td><a href="#">View</a></td>
                <td><div align="center"><a href="#editModal"  data-toggle="modal"><i class="fa fa-pencil-square fa-lg"></i></a></div></td>
                <td><div align="center"><a href="#deleteModal" data-toggle="modal"><i class="fa fa-minus-square fa-lg"></i></a></div></td>
                <td><div align="center"><a href="#catModal" data-toggle="modal"><i class="fa fa-check fa-lg"></i></a></div></td>
            </tr>
            <tr>
                <td colspan="8"><hr></td>
            </tr>
            <tr>
                <td>H.R. 648</td>
                <td>Emergency Care ReAuth Act</td>
                <td>Michael Burgess</td>
                <td>Jan 28, 2015</td>
                <td><a href="#">View</a></td>
                <td><div align="center"><a href="#editModal"  data-toggle="modal"><i class="fa fa-pencil-square fa-lg"></i></a></div></td>
                <td><div align="center"><a href="#deleteModal" data-toggle="modal"><i class="fa fa-minus-square fa-lg"></i></a></div></td>
                <td><div align="center"><a href="#catModal" data-toggle="modal"><i class="fa fa-check fa-lg"></i></a></div></td>
            </tr>
            <tr>
                <td colspan="8"><hr></td>
            </tr>
        </tbody>
    </table>
                </div>
                <div class="col-md-14" align="left"> 
                    
                </div>
       </div>
    </div>
      
      
      
    <div role="tabpanel" class="tab-pane fade" ng-class="{'in active': checkTab('3')}" id="3">
            <div class="row">
                <div class="col-md-14" align="left"> 
                    <h4>3rd Review</h4>
                </div>
                <div class="col-md-10" align="left"> 
                    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Sponsor</th>
                <th>Date Passed</th>
                <th>Bill</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
                        
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>

            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td colspan="8"><hr></td>
            </tr>
            <tr>
                <td>S. 272</td>
                <td>DOHS Appropriations Act (2015)</td>
                <td>Jeanne Shaheen</td>
                <td>Jan 28, 2015</td>
                <td><a href="#">View</a></td>
                <td><div align="center"><a href="#editModal"  data-toggle="modal"><i class="fa fa-pencil-square fa-lg"></i></a></div></td>
                <td><div align="center"><a href="#deleteModal" data-toggle="modal"><i class="fa fa-minus-square fa-lg"></i></a></div></td>
                <td><div align="center"><a href="#catModal" data-toggle="modal"><i class="fa fa-check fa-lg"></i></a></div></td>
            </tr>
            <tr>
                <td colspan="7"><hr></td>
            </tr>
            <tr>
                <td>H.R. 2</td>
                <td>MEDICARE access and CHIP Reauth</td>
                <td>Michael Burgess</td>
                <td>Apr 16, 2015</td>
                <td><a href="#">View</a></td>
                <td><div align="center"><a href="#editModal"  data-toggle="modal"><i class="fa fa-pencil-square fa-lg"></i></a></div></td>
                <td><div align="center"><a href="#deleteModal" data-toggle="modal"><i class="fa fa-minus-square fa-lg"></i></a></div></td>
                <td><div align="center"><a href="#catModal" data-toggle="modal"><i class="fa fa-check fa-lg"></i></a></div></td>
            </tr>
            <tr>
                <td colspan="8"><hr></td>
            </tr>
            <tr>
                <td>H.R. 648</td>
                <td>Emergency Care ReAuth Act</td>
                <td>Michael Burgess</td>
                <td>Jan 28, 2015</td>
                <td><a href="#">View</a></td>
                <td><div align="center"><a href="#editModal"  data-toggle="modal"><i class="fa fa-pencil-square fa-lg"></i></a></div></td>
                <td><div align="center"><a href="#deleteModal" data-toggle="modal"><i class="fa fa-minus-square fa-lg"></i></a></div></td>
                <td><div align="center"><a href="#catModal" data-toggle="modal"><i class="fa fa-check fa-lg"></i></a></div></td>
            </tr>
            <tr>
                <td colspan="8"><hr></td>
            </tr>
        </tbody>
    </table>
                </div>
                <div class="col-md-14" align="left"> 
                    
                </div>
       </div>
    </div>
      
    
        </div>
</div>
    <script language="JavaScript">
        $(document).ready(function() {
            $('#example').DataTable();
        } );
    </script>
      <!--DELETE MODAL-->
    <div id="deleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete Bill</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete This Bill?</p>
                <p class="text-warning"><small>This will remove the bill and all records from the system</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Delete Bill</button>
            </div>
        </div>
    </div>
</div>
      <!--END DELETE MODAL-->
      <!--EDIT MODAL-->
<div id="editModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit Bill</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                <div class="col-md-4" align="left"> 
                    <input type="text" id="congressionaltitle" class="form-control" placeholder="Add Title" ng-model="congressionaltitle" required autofocus><br>
                    <input type="text" id="congressionalID" class="form-control" placeholder="Add ID" ng-model="congressionalID" required><br>
                    <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose a Sponsor  
                      <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="">Nancy Pelosi</a></li>
                        <li><a href="">Newt Gingrich</a></li>
                        <li><a href="">John Smith</a></li>
                      </ul>
                    </div>
                    <br>
                    <input type="text" id="dateintroduced" class="form-control" placeholder="Date Introduced" ng-model="dateintroduced" required><br>
                    <input type="text" id="datepassed" class="form-control" placeholder="Date Passed" ng-model="datepassed" required><br>
                    <span class="btn btn-default btn-file">
                        Browse for Bill Document<br> <input type="file">
                    </span>
                    <hr>
                </div>
            </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Update Bill</button>
            </div>
        </div>
    </div>
</div>
<!--END EDIT MODAL-->

<!--CAT MODAL-->
    <div id="catModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Choose Categories</h4>
            </div>
            <div class="modal-body">
                <p>
                
                    <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Initial Category 
                      <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="">Taxes: Raise Taxes</a></li>
                        <li><a href="">Taxes: Lower Taxes</a></li>
                        <li><a href="">Defense: Spending</a></li>
                      </ul>
                    </div><BR><BR>
                    <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Second Category 
                      <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="">Taxes: Raise Taxes</a></li>
                        <li><a href="">Taxes: Lower Taxes</a></li>
                        <li><a href="">Defense: Spending</a></li>
                      </ul>
                    </div><BR><BR>
                    <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Third Category 
                      <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="">Taxes: Raise Taxes</a></li>
                        <li><a href="">Taxes: Lower Taxes</a></li>
                        <li><a href="">Defense: Spending</a></li>
                      </ul>
                    </div><BR><BR>
                    <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Fourth Category 
                      <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="">Taxes: Raise Taxes</a></li>
                        <li><a href="">Taxes: Lower Taxes</a></li>
                        <li><a href="">Defense: Spending</a></li>
                      </ul>
                    </div><BR><BR>
                    <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Fifth Category 
                      <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="">Taxes: Raise Taxes</a></li>
                        <li><a href="">Taxes: Lower Taxes</a></li>
                        <li><a href="">Defense: Spending</a></li>
                      </ul>
                    </div><BR><BR>
                
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Set Categories</button>
            </div>
        </div>
    </div>
</div>
      <!--END CAT MODAL-->