<span breadcrumb='standard'></span>


      
<div class="container">
    <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" ng-class="{active: checkTab('congress')}">
        <a href="#congress" aria-controls="congress" role="tab" data-toggle="tab">US Congress</a>
    </li>
    <li role="presentation" ng-class="{active: checkTab('senate')}">
        <a href="#senate" aria-controls="senate" role="tab" data-toggle="tab">US Senate</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade" ng-class="{'in active': checkTab('congress')}" id="congress">
    <!--START TAB CONTENT WITH CONGRESS-->
       <h4>Congress</h4>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose a Bill - (Will Populate Votes)
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="">H.R.36 - Pain-Capable Unborn Child Protection Act</a></li>
                <li><a href="">H.R.4596 - Small Business Broadband Deployment Act</a></li>
                <li><a href="">H.R.1560 - Protecting Cyber Networks Act</a></li>
            </ul>
        </div>
        <div class="col-md-3" align="left"> 
            <BR><BR>
        <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Reprasentative</th>
                <th></th>
                <th>For</th>
                <th>Against</th>
            </tr>
        </thead>
                        
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>

            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td colspan="3"><hr></td>
            </tr>
            <tr>
                <td>Nancy Pelosi</td>
                <td></td>
                <td><div align="center"><label class="checkbox-inline"><input type="checkbox" value=""></label></div></td>
                <td><div align="center"><label class="checkbox-inline"><input type="checkbox" value=""></label></div></td>
            </tr>
            <tr>
                <td colspan="3"><hr></td>
            </tr>
            <tr>
                <td>John Smith</td>
                <td></td>
                <td><div align="center"><label class="checkbox-inline"><input type="checkbox" value=""></label></div></td>
                <td><div align="center"><label class="checkbox-inline"><input type="checkbox" value=""></label></div></td>
            </tr>
            <tr>
                <td colspan="3"><hr></td>
            </tr>
            <tr>
                <td>Newt Gingrich</td>
                <td></td>
                <td><div align="center"><label class="checkbox-inline"><input type="checkbox" value=""></label></div></td>
                <td><div align="center"><label class="checkbox-inline"><input type="checkbox" value=""></label></div></td>
            </tr>
            <tr>
                <td colspan="3"><hr></td>
            </tr>
        </tbody>
    </table>
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Save Changes</button>
        </div>
    <!--END TAB CONTENT WITH CONGRESS-->
    </div>
    <div role="tabpanel" class="tab-pane fade" ng-class="{'in active': checkTab('senate')}" id="Senate">
    <!--START TAB CONTENT WITH SENATE-->
        <h4>Senate</h4>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose a Bill - (Will Populate Votes)
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="">H.R.36 - Pain-Capable Unborn Child Protection Act</a></li>
                <li><a href="">H.R.4596 - Small Business Broadband Deployment Act</a></li>
                <li><a href="">H.R.1560 - Protecting Cyber Networks Act</a></li>
            </ul>
        </div>
        <div class="col-md-3" align="left"> 
            <BR><BR>
        <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Reprasentative</th>
                <th></th>
                <th>For</th>
                <th>Against</th>
            </tr>
        </thead>
                        
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>

            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td colspan="3"><hr></td>
            </tr>
            <tr>
                <td>Nancy Pelosi</td>
                <td></td>
                <td><div align="center"><label class="checkbox-inline"><input type="checkbox" value=""></label></div></td>
                <td><div align="center"><label class="checkbox-inline"><input type="checkbox" value=""></label></div></td>
            </tr>
            <tr>
                <td colspan="3"><hr></td>
            </tr>
            <tr>
                <td>John Smith</td>
                <td></td>
                <td><div align="center"><label class="checkbox-inline"><input type="checkbox" value=""></label></div></td>
                <td><div align="center"><label class="checkbox-inline"><input type="checkbox" value=""></label></div></td>
            </tr>
            <tr>
                <td colspan="3"><hr></td>
            </tr>
            <tr>
                <td>Newt Gingrich</td>
                <td></td>
                <td><div align="center"><label class="checkbox-inline"><input type="checkbox" value=""></label></div></td>
                <td><div align="center"><label class="checkbox-inline"><input type="checkbox" value=""></label></div></td>
            </tr>
            <tr>
                <td colspan="3"><hr></td>
            </tr>
        </tbody>
    </table>
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Save Changes</button>
        </div>
    <!--END TAB CONTENT WITH SENATE-->
    </div>
  </div>