<script language="JavaScript">
/* Javascript */
$(function () {
	var date = new Date();
	var d = date.getDate();
	var m = date.getMonth();
	var y = date.getFullYear();
	
	$('#calendar').fullCalendar({
		header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek,agendaDay'
		},
		editable: true
	});
});
</script>
<span breadcrumb='standard'></span>

<div class="container">
  <div class="row">
    <div align="center" class="col-sm-4">
      <a href="/category"><img src="/lib/img/icons/equipment.png"><br>Categories</a><br><br>
    </div>
    <div align="center" class="col-sm-4">
      <a href="/voting"><img src="/lib/img/icons/personell.png"><br>Voting</a><br><br>
    </div>
    <div align="center" class="col-sm-4">
      <a href="/bills"><img src="/lib/img/icons/fleet.png"><br>Bills & Resolutions</a><br><br>
    </div>
    <div align="center" class="col-sm-4">
      <a href="/politicians"><img src="/lib/img/icons/parts.png"><br>Politicians</a><br><br>
    </div>
  </div>    
    <br><br><hr>
   <div class="container">
        <div class="row span8 offset2">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><i class="fa fa-binoculars fa-2x"></i>&nbsp;&nbsp;Activity</div>
                    <div class="input-append">
                       <div class="list-group">
                                <a href="/activity" class="list-group-item">
                                    <i class="fa fa-exclamation-triangle fa-fw"></i>Nancy Pelosi Updated
                                    <span class="pull-right text-muted small"><em>4 minutes ago</em>
                                    </span>
                                </a>
                                <a href="/activity" class="list-group-item">
                                    <i class="fa fa-book fa-fw"></i> New Category Added
                                    <span class="pull-right text-muted small"><em>12 minutes ago</em>
                                    </span>
                                </a>
                                <a href="/activity" class="list-group-item">
                                    <i class="fa fa-calendar fa-fw"></i> Tax Category Udpated
                                    <span class="pull-right text-muted small"><em>27 minutes ago</em>
                                    </span>
                                </a>
                                <a href="/activity" class="list-group-item">
                                    <i class="fa fa-thumbs-down fa-fw"></i> System Reboot
                                    <span class="pull-right text-muted small"><em>43 minutes ago</em>
                                    </span>
                                </a>
                                <a href="/activity" class="list-group-item">
                                    <i class="fa fa-calendar fa-fw"></i> Newt Gingrich Updated
                                    <span class="pull-right text-muted small"><em>11:32 AM</em>
                                    </span>
                                </a>
                                <a href="/activity" class="list-group-item">
                                    <i class="fa fa-thumbs-up fa-fw"></i> B1121 Updated
                                    <span class="pull-right text-muted small"><em>11:13 AM</em>
                                    </span>
                                </a>
                                <a href="/activity" class="list-group-item">
                                    <i class="fa fa-calendar fa-fw"></i> SRES11212 Added 
                                    <span class="pull-right text-muted small"><em>10:57 AM</em>
                                    </span>
                                </a>
                                <a href="/activity" class="list-group-item">
                                    <i class="fa fa-calendar fa-fw"></i> JRES11032 Approved
                                    <span class="pull-right text-muted small"><em>9:49 AM</em>
                                    </span>
                                </a>
                            </div>
                    </div>
                    <br><br>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading"><i class="fa fa-exclamation-triangle fa-2x"></i>&nbsp;&nbsp;Notifications</div>
                    <div class="input-append">
                        <div class="list-group">
                                <a href="/notification" class="list-group-item">
                                    <i class="fa fa-exclamation-triangle fa-fw"></i>Bill Approval
                                    <span class="pull-right text-muted small"><em>4 minutes ago</em>
                                    </span>
                                </a>
                                <a href="/notification" class="list-group-item">
                                    <i class="fa fa-book fa-fw"></i> Voting Approval
                                    <span class="pull-right text-muted small"><em>12 minutes ago</em>
                                    </span>
                                </a>
                                <a href="/notification" class="list-group-item">
                                    <i class="fa fa-calendar fa-fw"></i> New Meeting Request
                                    <span class="pull-right text-muted small"><em>27 minutes ago</em>
                                    </span>
                                </a>
                                <a href="/notification" class="list-group-item">
                                    <i class="fa fa-thumbs-down fa-fw"></i> Bill Review
                                    <span class="pull-right text-muted small"><em>43 minutes ago</em>
                                    </span>
                                </a>
                                <a href="/notification" class="list-group-item">
                                    <i class="fa fa-calendar fa-fw"></i> Meeting Request
                                    <span class="pull-right text-muted small"><em>11:32 AM</em>
                                    </span>
                                </a>
                                <a href="/notification" class="list-group-item">
                                    <i class="fa fa-thumbs-up fa-fw"></i> Bill Certified Live
                                    <span class="pull-right text-muted small"><em>11:13 AM</em>
                                    </span>
                                </a>
                                <a href="/notification" class="list-group-item">
                                    <i class="fa fa-calendar fa-fw"></i> Meeting Request
                                    <span class="pull-right text-muted small"><em>10:57 AM</em>
                                    </span>
                                </a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
</div> 
    
  
</div>